<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:type"               content="music.song" />
    <meta property="og:title"              content="The Best Music of the Decade(10년간 가장 사랑받은 음악)" />
    <meta property="og:image"              content="http://musicdecade.cafe24.com/site.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="lib/css/clean-zone-style.css"/>
    <link rel="stylesheet" href="../lib/css/custom-list.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <title><%= title %></title>
</head>
<body style="opacity: 1; margin-left: 0px;">
    <div id="cl-wrapper">
        <div class="container-fluid" id="pcont">
            <div class="cl-mcont">
                <div class="row dash-cols">
                    <div class="col-sm-2 col-md3"></div>
                    <div class="col-sm-8 col-md6 block title-div">
                        <h1>The Best Music of the Decade</h1>
                        <h3 style="color: #F67A50">10년간 가장 사랑받은 음악</h3>
                        <div class="text-center">
                            <ul class="list-inline">
                                <li><a href="/song"><h3>#음악</h3></a></li>
                                <li class="title-menu"><a href="/album"><h3>#앨범</h3></a></li>
                                <li class="title-menu"><a href="/singer"><h3>#가수</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md3"></div>
                </div>
                <div class="row dash-cols">
                    <div class="col-sm-2 col-md3"></div>
                    <div class="col-sm-8 col-md6 block title-div">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="음악 검색"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary search-btn">Search</button>
                            </span>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-facebook bg">
                                <a href="javascript:shareFacebook()">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </button>
                            <button type="button" class="btn btn-default btn-twitter bg">
                                <a href="javascript:shareTwitter()">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </button>
                            <div style="display: inline-block; margin-left: 5px;">
                                <a href="javascript:shareStory()">
                                    <img src="https://dev.kakao.com/sdk/js/resources/story/icon_small.png" style="width: 36px; height: 30px; margin-bottom: 5px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md3"></div>
                </div>
                <div class="row dash-cols">
                </div>
                <div class="row dash-cols">
                    <div class="col-sm-2 col-md3"></div>
                    <!-- Content goes here -->
                    <div class="col-sm-8 col-md6">
                        <div class="block">
                            <div class="content no-padding">
                                <div class="row title-text-div">
                                    <div class="col-md-2">
                                        <h3 class="big-text title-text-up" style="text-align: right">Rank</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="big-text title-text-up" style="text-align: center">Music</h3>
                                    </div>
                                    <div class="col-md-2">
                                        <h3 class="big-text title-text-up">Singer</h3>
                                    </div>
                                    <div class="col-md-2">
                                        <h3 class="big-text title-text-up">Score</h3>
                                    </div>
                                </div>
                                <div id="music-list" class="items">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md3"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://fb.me/react-0.13.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.story.min.js"></script>
    <script src="lib/js/sns.js"></script>
    <script src="output/music/music.js"></script>
    <script src="output/music/music-list.js"></script>
    <script src="output/music/music-more.js"></script>
    <script src="output/music/music-app.js"></script>
    <script src="output/common/search.js"></script>
    <script src="output/music/init.js"></script>
    <script type="text/javascript">

    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39699634-5', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>